{% extends 'base.html.twig' %}

{% block title %}Edit Formation{% endblock %}

{% block body %}
    <h1 style="text-align:center">Edit Formation</h1><br />

    {{ include('formation/_form.html.twig', {'button_label': 'Update'}) }}


{% endblock %}
