{% extends 'base.html.twig' %}

{% block title %}New Formation{% endblock %}

{% block body %}
    <h1 style="text-align:center">Create new Formation</h1><br />

    {{ include('formation/_form.html.twig') }}

{% endblock %}
