{% extends 'base.html.twig' %}

{% block title %}New Ecole{% endblock %}

{% block body %}
    <h1 style="text-align:center">Create new Ecole</h1><br />

    {{ include('ecole/_form.html.twig') }}
    <br />

{% endblock %}
